.header {
  position: relative;
  min-height: 600px;
  background: url("../img/background/header.jpg") center (center / cover) no-repeat;
  padding: 0px 38px 30px 24px;
  nav {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      width: 300px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        list-style-type: none;
        position: relative;
        a {
          text-decoration: none;
          color: #000;
          font-size: 14px;
          text-transform: uppercase;
          &:after {
            content: "";
            bottom: -1px;
            display: block;
            height: 1px;
            right: 0;
            position: absolute;
            background: #000;
            transition: .5s all;
            width: 0;
          }
          &:hover:after {
              width: 100%;
              right: 0;
          }
        }
      }
    }
  }
  &_logo {
    color: #000;
    font-size: 29px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }
  &_title {
    width: 525px;
    margin-top: 71px;
    color: #000;
    font-size: 43px;
    font-weight: 400;
    letter-spacing: 1.22px;
  }
  &_subtitle {
    width: 526px;
    margin-top: 29px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Outfit;
    font-size: 22px;
  }
  &_btn {
    margin-top: 22px;
    border: none;
    border: none;
    background: #000;
    width: 201px;
    height: 58px;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      background: #777;
      font-size: 16px;
      letter-spacing: 1px;
      text-shadow: 1px 1px 2px #000;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    }
  }
  &_descr {
    margin-top: 192px;
    color: rgba(0, 0, 0, 0.56);
    font-size: 14px;
  }
  &_img {
    position: absolute;
    bottom: 10px;
    right: 17%;
    img {
      width: 100%;
    }
  }
}